<div id="contactContent">
    <div id="contactContainer" class="container">
        <div id="contactForm">
            <div class="contentHeading">
                <p>About Us </p>
                <div class="contentHr"><p>some spa</p></div>
            </div>
            <h1>Estimate for your <br>projects.</h1>
            <div id="form">
                <input type="text" placeholder="Enter Your name" class="inputContainer" />
                <input type="text" placeholder="Enter Your name" class="inputContainer" />
                <textarea placeholder="Enter your message" class="mt-2"></textarea>
                <div class="contentBtns"><button class="learnBtn">Submit Now</button></div>

            </div>
        </div>

        <div id="contactImage">
            <img src="img/contact-img.svg" alt="contact-image.svg" />
        </div>
    </div>
</div>