<section id="footer">
    <div class="footerContainer container">
        <div class="footerText">
            <h1>OmniVus.</h1>
            <p>
                The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassi Group has changed too, as have the things that we bring to our community
                conferences, books, and our membership added to the online magazine.
                <br><br>
                One thing that hasn’t changed is that we’re a small team — with most of us not working
            </p>
        </div>
        <div class="footerWorkingHours">
            <h1>Working Hours</h1>
            <p class="dayHours">
                Monday - Friday: 7:00 - 17:00<br>
                Saturday: 7:00 - 12:00<br>
                Sunday and holidays: 8:00 - 10:00
            </p>
            <p><span>For more then 15 years,</span> IT Service has been a reliable partner in the field of logistics and cargo forwarding.</p>
        </div>
        <div class="copyright">
            <p>Copyright © Mattin-Lassei Group AB - 2022</p>
        </div>
    </div>

    <div id="footerBigC">
        <img src="img/footer-big-circle.svg" alt="footer-big-c.svg" />
    </div>
    <div id="footerSmallC">
        <img src="img/footer-small-circles.svg" alt="footer-small-c.svg" />
    </div>
</section>