@model ServiceBoxModel

<div class="serviceBox">
    <div class="boxFooter">
        <div class="blueBox"></div>
        <p>@Model.Title</p>
        <p class="desc">@Model.Description</p>
    </div>
</div>