@{
    ViewData["Title"] = "Contact";
}

<div class="background">
    <!--Background-->
    <!--#region Top Header-->
    <partial name="_HeaderPartial"/>
    <partial name="_PageTitlePartial"/>
    <partial name="_ContactContentPartial"/>
</div>