

<div class="container header">
    <!--Header-->
    <div class="logo">
        <!--Logo-->
        <img src="./img/logo.png" alt="logo.png" class="logo" />
    </div>
    <div class="container navbar-brand">
        <!--Navigations-->
        <div class="social-nav d-flex">
            <!--Socials-->

            @if (SignInManager.IsSignedIn(User))
            {
                <div id="infoemail">
                    <span>Welcome <a asp-controller="Profile" asp-action="Index" asp-route-id="@User.FindFirst("UserId").Value">@await ProfileManager.DisplayNameAsync(User.FindFirst("UserId").Value)</a></span>
                </div>
                <div class="socials">
                    <a asp-controller="auth" asp-action="SignOut">Sign Out</a>
                </div>
            }
            else
            {
                <div id="infoemail">
                    <a href="#">info@domain.com</a>
                </div>
                <div class="socials">
                    <a href="#">facebook</a>
                    <a href="#">twitter</a>
                    <a href="#">linkedIn</a>
                    <a href="#">youtube</a>
                </div>
            }
 
        </div>
        <div class="bottomBorder mt-2"></div>

        <div class="navbar mt-5 d-flex flx-hrz-end flx-vrcl-center">
            <!--Navbar-->
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Service" asp-action="Index">Services</a>
            <a asp-controller="Contact" asp-action="Index">Contact</a>
            @if (!SignInManager.IsSignedIn(User))
            {
                <a asp-controller="auth" asp-action="SignIn"><button>Sign In</button></a>
            }
        </div>
    </div>
</div>
