<div id="page-title">
    <div id="servicesHtml">
            <div class="showcase container"><!--Showcase-->
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="links">
                <a asp-controller="Home" asp-action="Index">Home</a> 
                | 
                <a asp-controller="@ViewData["Title"]" asp-action="Index">@ViewData["Title"]</a>
            </div>
        </div>
</div>