@{
    ViewData["Title"] = "404";
}

<div id="oops">
    <div class="oopsContainer">
        <div class="oopsContent">
            <img src="/img/illustration.svg" alt="404.svg" />
            <h1>Looks Like Here <br>Is Nothing</h1>
            <p>Don't be fret. We are here.</p>
        </div>
    </div>
</div>