@{
    ViewData["Title"] = "Services";
}


<div class="background"><!--Background-->
    <partial name="_HeaderPartial"/>
    <partial name="_PageTitlePartial"/>
    <partial name="_ServiceContentPartial"/>
</div>

