@{
    ViewData["Title"] = "Omnivus @User.Identity?.Name}";
    Layout = "~/Views/Shared/_profileLayout.cshtml";
}

<div class="profileBackground">
    <div id="homeBtn">
        <button>V</button>
    </div>
    <div id="profile" class="container">
        <div class="profileCard cardGrid">
            <div class="profilePlaceholder container">
                <img src="img/profile_placeholder.svg"
                     alt="placehodler.svg" />
            </div>
            <div class="profileName">
                <span>Pontus Sennerstam</span>
            </div>
            <div class="profileRole">
                <span>Admin</span>
            </div>
            <div class="profileStreetName">
                <span>Street Name</span>
                <p>Lyckevägen 16</p>
            </div>
            <div class="profilePostalCode">
                <span>Postal Code</span>
                <p>715 31</p>
            </div>
            <div class="profileCity">
                <span>City</span>
                <p>Odensbacken</p>
            </div>
            <div class="profileEmail">
                <span>Emailaddress</span>
                <p>pontus@domain.com</p>
            </div>
        </div>
        <div class="profileInfo">
            <div class="cardGrid container">
                <h1>About me</h1>
                <div class="bio container">
                    <textarea placeholder="Write about yourself"
                              class="questionField"
                              disabled>
Hello, my name is Pontus and I'm a man, if that's still allowed..</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

