@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/*#region FONTS */
    $primary-font-Karla: 'Karla', sans-serif;
    $regular: 400;
    $medium: 500;
    $bold: 700;
/*#endregion */

/*#region COLORS */
    $deepBlue: #002d5f;
    $clearBlue: #006DE8;
    $seaBlue: #6C90B9;
    $skyBlue: #4F79A9;
    $darkForestGreen: #3E4636;
    $pearlGrey: #E1E1E1;
    $goldBrown: #755C1B;
    
/*#endregion */



/*#region SPACE VARIABLES */
    $space-amount: (0, 1, 2, 3, 4, 5);
/*#endregion */


/*#region FLEX VARIABLES */
    $flx-position: (start, center, end);
/*#endregion */

/*#region BREAKPOINTS */
    $breakpoint-mobile: 375px;
    $breakpoint-mobile-max: 320px;
    $breakpoint-tablet: 768px;
    $breakpoint-tablet-max: 720px;
    $breakpoint-tablet-ls: 1024px;
    $breakpoint-tablet-ls-max: 996px;
    $breakpoint-desktop: 1200px;
    $breakpoint-desktop-max: 1170px;
/*#endregion */

@import './breakpoints';