@{
    ViewData["Title"] = "Home";
}

<div class="background">
    <!--Background-->
    <!--#region Top Header-->
    <partial name="_HeaderPartial"/>
    <!--#endregion Top Header-->
    <!--#region Showcase-->
    <div class="showcase container">
        <!--Showcase-->
        <div id="showcaseLeft">
            <!--Left side-->
            <p class="bread">Promote any product, service or online course.</p>
            <h1>Get every IT Service Here</h1>
            <div id="services">
                <div class="circles"><img src="./img/red-circle.svg" alt="redcircle.svg" /><p>IT Product</p></div>
                <div class="circles"><img src="./img/blue-circle.svg" alt="bluecircle.svg" /><p>IT Services</p></div>
            </div>
        </div>
        <div id="showcaseRight">
            <!--Right side-->
            <img src="./img/profile-male.svg" alt="profile-male.png" />
        </div>
    </div>
</div>

<!--#endregion Showcase-->
<!--#region Content-->

<div id="content" class="container">
    <div class="contentRectangle">
        <!--Big Rectangle-->
        <img src="/img/Rectangle-big.svg" alt="rectangle" />
    </div>

    <div class="contentText">
        <!--Text Field-->
        <div class="contentHeading">
            <p>About Us </p>
            <div class="contentHr"><p>some spa</p></div>
        </div>
        <h1>You can't use up <br> creativity.</h1>
        <p>Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</p>
        <div class="expField">
            <img src="/img/smallrect.svg" alt="small rectangle" />
            <h1>15</h1>
            <p>Years Of <br>Experience</p>
        </div>

        <div class="contentBtns">
            <button class="learnBtn">Learn More</button>
            <button class="introBtn">Intro Video</button>
        </div>
    </div>

    <div class="contentSymbols">
        <!--Symbols-->
        <div class="contentRectangle">
            <img src="img/rectangle.svg" alt="Rectangle" />
        </div>
        <div class="contentSmallRectangle">
            <img src="img/smallrect.svg" alt="small rectangle" />
        </div>
    </div>
</div>
<!-- #endregion Content-->
<!-- #region Intro-->
<div id="intro">
    <div class="introContainer container">
        <div class="introTextContainer">
            <!--Left side-->
            <div class="contentHeading">
                <p>About Us </p>
                <div class="contentHr"><p>some spa</p></div>
            </div>
            <h1>How we growth <br>our business</h1>
            <p class="slab">The introduction of cloud and mobile technologies into enterprise software.</p>
            <p>hether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
            <div class="contentBtns"><button class="learnBtn">Learn more</button></div>
        </div>

        <div class="introImg">
            <!--Right side-->
            <img src="img/introrects.svg" alt="intro rectangles" />
        </div>
    </div>
</div>
<!-- #endregion Intro-->
<!-- #region Book a Meeting-->
<div id="booking">
    <div id="bookingContainerBox">
        <div class="bookingContainer">
            <div class="bookingContainer container">
                <h1>Book a Meeting</h1>
                <p>
                    Does any industry face a more complex audience journey and<br>
                    marketing sales process than B2B technology.
                </p>
            </div>
            <div class="inputContainer container">
                <input type="text" placeholder="Enter your name" class="nameField" />
                <input type="text" placeholder="Enter your email" class="emailField" />
                <textarea type="text" placeholder="Enter your questions & subject here." class="questionField"></textarea>
                <div class="contentBtns"><button class="learnBtn">Book a Meeting Now</button></div>

            </div>
        </div>
    </div>
</div>
<!-- #endregion Book a Meeting-->
